body {
  position: relative;
  z-index: 0; /* 子要素より背面に置く */
}
body::before {
  content: "";
  position: absolute;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background-image: url(111.png);
  background-repeat: repeat;
  opacity: 0.5; /* ここだけ透過 */
  z-index: -1;
}

h1{
    color:orange;
    background-color:beige;
    text-align: center;
    font-weight: bold;
}

.container{
    display:grid;
    grid-template-columns: 25% 50% 25%;
}

header,
footer{
    color:orchid;
    background-color: yellow;
    grid-column: 1 / span 3;
    margin: 20px;
    border: 5px solid aqua;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.c1,
.c2,
.c3{
    display: grid;
    color:white;
    background-color: green;
    border: 10px solid gray;
    height: 100px;
    font-size: 30px;
    place-items: center;
}